.clock_table {
    border-collapse: collapse;
    margin-top: .5em;
    width: 100%;
    margin-bottom: -8px;
    clear: both;
}

.clock_table th, .clock_table wrap label {
    color: #222;
    font-weight: normal;
    text-shadow: #fff 0 1px 0;
}

.clock_table th {
    vertical-align: top;
    text-align: left;
    padding: 10px;
    width: 200px;
}

.clock_table td {
    margin-bottom: 9px;
    padding: 8px 10px;
    line-height: 20px;
    font-size: 12px;
}

.clock_table label {
    vertical-align: middle;
}

input.clock_style {
    margin-right: 20px;
}

.clock_table td p {
    margin: 0 0 1em 0;
}